[Unit]
Description=mailist

[Service]
Type=simple
Restart=always
RestartSec=5s
User=eric
WorkingDirectory=/home/eric/go/src/github.com/ehfeng/mailist
ExecStart=/home/eric/go/src/github.com/ehfeng/mailist/mailist -admin-password <password>

[Install]
WantedBy=multi-user.target